<div class="img-box">
  <div class="content">
    <div class="right">
      <div class="title">راحت‌تر از هر زمانی، نوبت پزشک مورد نظرت رو <strong>اینترنتی</strong> دریافت کن!</div>
      <div class="des">

        از سامانه فلان، تخصص مورد نیازت رو از بین صدها پزشک و مرکز درمانی انتخاب کن و در کمتر از چند دقیقهريا، نوبتت رو
        رزرو کن...
      </div>

      <div class="link btn">دریافت نوبت اینترنتی</div>

    </div>
    <div class="left">
      <img src="./../../../../../../assets/images/Frame 57808.svg" alt="">
    </div>
  </div>
</div>
