<div class="header">
  <div class="right">
    <ul>
      <li>your logo</li>
      <li>خانه</li>
      <li>دسته بندی</li>
    </ul>
  </div>
  <div class="left"></div>
</div>
<div class="header-img">
  <div class="box">
    <h1>سامانه نوبت‌دهی اینترنتی پزشکی سرتاسر کشور</h1>
    <h4>دسترسی سریع و آسان به بهترین تخصص‌ها، پزشکان و مراکز درمانی، تنها با چند کلیک!</h4>
    <div class="search">
      <input type="text" placeholder="تخصص، پزشک یا مرکز درمانی را جست‌وجو کنید...">
      <button class="select">همه دسته بندی</button>
    </div>

  </div>

</div>

<div class="Internet-turn">
  <h3>همین حالا نوبت آنلاین خود را دریافت کنید!</h3>
  <button class="btn">دریافت نوبت اینترنتی</button>
</div>

<div class="three-step">
  <div class="header-box">
    <span class="box">
      <span>سه قدم تا</span>
      <span class="text-green">دریافت نوبت اینترنتی</span>, برای راحتی شما!
    </span>
  </div>
  <div class="box-step">
    <div class="step step1">
      <img src="./../assets/images/Frame 57766.png" alt="">
      <div class="title">انتخاب تخصص مورد نظر</div>
      <div class="des">تخصص، پزشک و مرکز درمانی مورد نظر خود را انتخاب کنید</div>
    </div>
    <div class="step step2">
      <img src="./../assets/images/Frame 57764.png" alt="">
      <div class="title">عضویت در سامانه</div>
      <div class="des">به صورت رایگان در سامانه عضو شوید</div>
    </div>
    <div class="step step3">
      <img src="./../assets/images/Frame 57772.png" alt="">
      <div class="title">نوبت شما رزرو شد!</div>
      <div class="des">حالا باید منتظر فرا رسیدن نوبت خود باشید!</div>
    </div>
  </div>
</div>


<div class="medical-specialties">
  <div class="header-box">
    <span class="box">
      <span class="text-green">تخصص های</span>پزشکی
    </span>
  </div>
  <ul>
    <li *ngFor="let item of medical">
      <div class="img-box">
        <img class="img-card" src="{{item.photo}}" alt="">
      </div>
      <div class="content">
        <h3>{{item.title}}</h3>
        <img src="assets/images/Frame 57731.svg" alt="">
      </div>
    </li>
  </ul>
</div>

<div class="comments">
  <div class="header-box">
    <span class="box">
      <span class="text-green">سوالات متداول </span>کاربران
    </span>
  </div>
  <div dir="ltr">
    <p-carousel [value]="products" [numVisible]="3"  [numScroll]="1" [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-item pTemplate="item">
        <div class="item">
          <div class="item-header">
            <h4>{{ item.name }}</h4>
            <span><img src="./../assets/images/star 1.png" alt="">{{item.score}}</span>
          </div>
          <div class="des">
            {{item.des}}
          </div>
          <div class="item-buttom">
            <span>{{item.expertise}}<span>-</span>{{item.doctor}}</span>
            <span>{{item.date}}</span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<div class="users">
  <div class="header-box">
    <span class="box">
      <span class="text-green">سوالات متداول </span>کاربران
    </span>
  </div>
  <div class="btn-group">
    <button class="active">مراجعین</button>
    <button class="deActive">پزشکان</button>
  </div>
  <div class="quztion">
    <div class="item">
      <div class="qu"> <img src="./../assets/images/Mask group (1).png" alt="">
        <span>آیا امکان لغو نوبت وجود دارد؟</span>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="footer-top">
    <strong>آماده پشتیبانی از شما هستیم!</strong>
    <span>پاسخگوی شما در روزهای کاری، 9 صبح الی 18 عصر</span>
    <a class="footer-top-phone btn-phone"><img src="assets/images/phone-call 1.svg">021-44332211</a>
  </div>
  <div class="content">
    <div class="right">
      <div class="title">نام کسب و کار</div>
      <div>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
        بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
      <div>تلفن پشتیبانی <a class="content-phone btn-phone"><img src="assets/images/phone-call 1.svg">021-44332211</a>
      </div>
    </div>
    <div class="left">
      <div class="title">تخصص‌ها</div>
      <div class="links">
        <a class="item">اورولوژی</a>
        <a class="item">قلب</a>
        <a class="item">اورولوژی</a>
        <a class="item">پزشک عمومی</a>
        <a class="item">مغز و اعصاب</a>
        <a class="item">پزشک عمومی</a>
        <a class="item">اورولوژی</a>
        <a class="item">قلب</a>
        <a class="item">اورولوژی</a>
        <a class="item">پزشک عمومی</a>
        <a class="item">مغز و اعصاب</a>
        <a class="item">پزشک عمومی</a>
        <a class="item">اورولوژی</a>
        <a class="item">قلب</a>
        <a class="item">اورولوژی</a>
        <a class="item">پزشک عمومی</a>
        <a class="item">مغز و اعصاب</a>
        <a class="item">پزشک عمومی</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    تمامی حقوق متعلق به “فلان” می باشد.
  </div>
</footer>


<router-outlet></router-outlet>
